* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #222B32;
}

.flex {
  display: flex;
  justify-content: space-between;
}

